/* This is the stylesheet for Contact Page of this website */

/* Custom CSS Variables */
:root{
   --color-1: #f36347;
   --color-2: #1a1a1a;
   --color-3: #dce4eb;
   --color-bg: rgba(1, 1, 1, 0.42);
}

/* contact page banner design */
#contact-banner-bgi{
   background: url('../Images/bg-contact-us.jpg') no-repeat center center/cover;
}
.contact-banner{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2rem;
   height: 60vh;
   background-color: var(--color-bg);
   text-align: center;
}